.root {
    -fx-background-color: #1F2937;
    -fx-color: #ffffff;
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: #ffffff;

}

.label {
    -fx-text-fill: #ffffff;

}

.label.slider-value {
    -fx-text-fill: #ffffff;
}

/*Contenedores*/
.titled-pane {
    -fx-text-fill: #ffffff;
    -fx-border-color: #374151;
    -fx-border-radius: 10px;
    
}

.titled-pane > .title {
    -fx-text-fill: #ffffff;
    -fx-background-color: #1F2937;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tiled-panel {
    -fx-background-color: #1F2937;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;

}

.slider .axis {
    -fx-tick-label-fill: #ffffff; 
}

.slider .track {
    -fx-background-color: #374151;
}

.slider .thumb {
    -fx-background-color: #3b82f6;
}

.label.slider-value { 
    -fx-text-fill: #E0E0E0; 
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/*Boton simular*/
.boton-simular{
    -fx-background-color: #3b82f6;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.boton-simular:hover {
    -fx-background-color: #2253a3;
}

/*Etiquetas resultados*/
.resultado-valor{
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Color morado para los resultados */
    -fx-font-size: 15px;
}

/*Contenedor gradico*/
.grafico-contenedor{
    -fx-background-color: #1F2937;
    -fx-border-radius: 10px;
}

/*Fondo area */
.chart-background{
    -fx-background-color: #111827;
    -fx-border-radius: 10px;
}


/*Propiedades edl grafico*/
.chart-plot-background{
    -fx-background-color: #1F2937;
}

.chart-series-line{
    -fx-stroke: #10B981;
}

.chart-line-symbol { 
    -fx-stroke: #10B981;
    -fx-text-fill: #10B981;
    -fx-background-color: #10B981;
    -fx-size: 2px;
    -fx-width: 2px;
    -fx-height: 2px;
}

.chart-vertical-grid-lines {
    -fx-stroke: #1F2937;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #111827;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.axis-tick-mark {
    -fx-stroke: #ffffff;
}

.axis-tick-label {
    -fx-text-fill: #ffffff;
}

.chart-title {
    -fx-text-fill: #ffffff;
}